::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
}

.box {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}


.top-nav {
    height: 40px;
    padding: 0 15px;
    border-bottom: 1px solid #eaecef;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.logo {
    font-size: 20px;
    font-i
    color: #42b983;
    line-height: 40px
}


.r-main {
    flex: 1;
    display: flex;
    justify-content: space-between;
    margin-top: 48px;

}

.r-main>div {
    flex: 1;
}

#container {
    height: 100%;
}

/* 动态展示组件样式 */
.display-container {
    margin: 8px;
    margin-top: 0;
    border: 1px solid #eaecef;
}

.display-box {

    height: 100%;
}